/* You can add global styles to this file, and also import other style files */
$myfont: 'Arial';
$bgGrey: #6a6a7b9c;
$bglight:rgb(253, 231, 235);
$myfontsize: 19px;
$myfavoritecolorlight: rgb(201, 64, 109) ;
$myfavoritecolordark: rgb(255, 163, 194) ;
$bgdark:rgb(20, 20, 20);



body{
    background-color: $bglight;

    &.dark{
    background-color: $bgdark;
    }
 }