<div [class.contenedorlight]="!isNightMode" [class.contenedordark]="isNightMode">
  <img src="{{user.image}}" class="foto" alt="{{user.name}}" />
  <h1 class="usuario">{{user.name}}</h1>
  <p class="descripcion">{{user.descripcion}}</p>
  <p class="descripcion">Visita mis link oficiales</p>
  <div *ngFor="let red of user.redes">
    <a class="links" href="{{red.link}}">
      <div class="left-item">
      <i class="fab" 
      [class.fa-github]="red.icon === 'github'"
      [class.fa-twitter]="red.icon === 'twitter'"
      [class.fa-youtube]="red.icon === 'youtube'"
      [class.fa-linkedin]="red.icon === 'linkedin'"></i>
    </div>
    <div class="right-item">
      <p>{{red.name}}</p>
    </div>
  </a>
  </div>
  <button class="btn-change"(click)="darkMode()">
    <i *ngIf="isNightMode"class="fas fa-sun"></i>
    <i *ngIf="!isNightMode" class="fas fa-moon"></i>

  </button>
</div>
